<article class="course-toc">
	<div class="container">
		<div class="row">
			<section class="course-introduction col-md-6 col-md-offset-3">
				<div class="course-image">
					Image
				</div>
				<div class="course-name">
					Korean Basics
				</div>
				<div class="course-explanation">
					Not an ordinary 한글 lessons. 
				</div>
				<div class="course-start">
					<button type="button" class="btn btn-primary btn-lg">Start Now</button>
				</div>
			</section>
		</div>
		<div class="row">
			<section class="course-units">
				<div class="course-unit">
					<div class="unit-title-wrap">
						<span class="unit-number">Unit 1</span>
						<span class="unit-title">Basic Hangeul</span>
					</div>
					<div class="module-wrap">
						<div class="module-title-wrap">
							<span class="module-type">Lesson</span>
							<span class="module-title">Fluent from Day 1</span>
						</div>
						<div class="module-explanation">
							Learn how to ask and answer. 
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</article>
