<article class="course-toc">
	<section class="course-introduction">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center">
					<div class="course-image">
						<img src="https://s3.amazonaws.com/codecademy-content/courses/ltp2/img/make-an-interactive-website.svg">
					</div>
					<div class="course-name">
						Korean Basics
					</div>
					<div class="course-explanation">
						Not an ordinary 한글 lessons. 
					</div>
					<div class="course-start">
						<button type="button" class="btn btn-primary btn-lg">Start Now</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="course-units">
		<div class="container">
			<div class="row">
				<div class="course-unit col-md-offset-1 col-md-10">
					<div class="unit-title-wrap">
						<span class="unit-number">Unit 1</span>
						<span class="unit-title">Basic Hangeul</span>
					</div>
					<div class="row module-wrap">
						<div class="col-xs-2">
							<div class="progress">
								<i class="fa fa-book" aria-hidden="true"></i>
							</div>
						</div>
						<div class="col-xs-10">
							<div class="module-title-wrap">
								<span class="module-type">Lesson</span>
								<span class="module-title">Fluent from Day 1</span>
							</div>
							<div class="module-explanation">
								Learn how to ask and answer. 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</article>
