<!DOCTYPE html>
<html lang="en">
<head>
  <title>Learn Korean | Koreancademy</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/bundle.css" >
</head>
<body>
  <div class="top-bar">
    <div class="container">
      <div class="logo-wrap">
        <a href="/">Koreancademy</a>
      </div>
    </div>
  </div>
  {{{body}}}
</body>
</html>
