<form action="/signup" method="post">
  <input name="username" id="username" type="text" placeholder="Your username" />
  <input name="email" id="email" type="text" placeholder="Your email" />
  <input name="password" id="password" type="password" placeholder="Your password"/>
  <input type="submit" />
</form>
